{% load rightpanel%}

{% block rightpanel %}
		<div class="rightLoad col-3">
    		<div class="text-center">
        		<div class="spinner-border text-primary" role="status">
            		<span class="sr-only">Loading...</span>
        		</div>
    		</div>
		</div>
		{% metadata_render %}
		{% managelink_render %}
		{% analysis_render %}
{% endblock %}



