
<div id="analyse">
    <button class="btn btn-light float-right" onclick="closerp()"><i class="fa fa-window-close mr-1"></i>Close</button>
    <div class="bg-light container">
        <h5 class="navbar-brand">Analysis</h5>
    </div>
    <div>
        <div class="list-group-item"><p class="w-100 pathLink"></p></div>
    </div>
</div>

