<!-- Metadata -->
<div id="metadata">
    <button class="btn btn-light float-right" onclick="closerp()"><i class="fa fa-window-close mr-1"></i>Close</button>
    <div class="bg-light container">
        <h5 class="navbar-brand">MetaData</h5>
    </div>
    <div>
        <div class="list-group-item "><p class="w-100 pathLink"></p></div>
        <div class="list-group-item ">
            <p class="mb-2">Genome Version</p>
            <div class="dropdown species mb-2 ">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButtonSp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Species...</button>
                <div class="dropdown-menu overflow-auto"  aria-labelledby="dropdownMenuButtonSp"></div>
            </div>
            <div class="dropdown version mb-2">
                <button class="btn dropdown-toggle " type="button" id="dropdownMenuButtonVn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Version... </button>
                <div class="dropdown-menu overflow-auto" aria-labelledby="dropdownMenuButtonVn"></div>
            </div>
        </div>
        <div class="list-group-item ">
            <p class="mb-2">IGB Track Color</p>
            <p>Foreground: <input type="color" class="btn colorpicker fgcp" value="#aaaaaa"/></p>
            <p>Background: <input type="color" class="btn colorpicker bgcp" value="#0000ff"/></p>
        </div>
	<div class="list-group-item">
	    <button class="btn btn-danger mr-2 w-25" onclick="closerp()">Cancel</button>
            <button class="btn btn-primary w-25" onclick="saveMetaData()">Save</button>
	</div>
    </div>
</div>
