<!-- Manage Link -->
<div id="makePublic">
    <button class="btn btn-light float-right" onclick="closerp()"><i class="fa fa-window-close mr-1"></i>Close</button>
    <div class="bg-light container">
        <h5 class="navbar-brand">Make Public/Private Link</h5>
    </div>
    <div>
        <div class="list-group-item"><p class="w-100 pathLink"></p>
            <p>is currently:
                <button class="btn btn-warning fileStatus"></button>
            </p>
        </div>
        <div class="list-group-item ">
            <p class="mb-2 ">A public link must be generated to display your data in IGB</p>
            <p class="mb-2 text-danger"><i class="fas fa-exclamation-triangle mr-1"></i>Anyone with a public link can view the data.</p>
        </div>
        <div class="list-group-item">
            <p class="text-primary">Public Link:</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control w-75" id="plink" disabled/>
                <div class="input-group-append">
                    <span class="input-group-text far fa-copy" id="copy" style="visibility:hidden" onclick="copyLink()"></span>
                </div>
            </div>
        </div>
        <div class="list-group-item ">
            <p class="font-italic text-left"> Public/Private Links can be managed by clicking the button below</p>
            <button class="btn btn-danger w-100 " onclick="manageLinkOperations('remove')" id="remove" style="display:none">Remove Public Link</button>
            <button class="btn btn-primary w-100" onclick="manageLinkOperations('create')" id="create">Create Public Link</button>
        </div>
    </div>
</div>
