{% load static %}
body{
    position:relative;
}
.content {
    overflow: hidden;
}

.left,.right,.middle {
    float: left;
}
.right {
    display: none;
    transition: 0.2s;
    overflow: auto;
}
.middle {
    border: solid #eee;
    height: 92vh;
}
.opentab {
    display: block;
}
.closetab {
    display: none;
}
table{
	overflow:auto;
	table-layout: fixed;

}
tr {
    cursor: pointer;
}
td  {
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
footer {
    height: 100px;
    background-color: #aaa;
}
.cbtn {
    height: 15px;
}
.show{
	visibility: visible;
}
.hide{
	visibility: hidden;
}
.active {
    background: #eef;
}
#context-menu {
    position: absolute;
}
#popupMenu {
    position: absolute;
}
.middleLoad{
    position:fixed;
    padding-top:15%;
    display:block;
    height:100%;
    z-index:10;
    background-color:#fff;
    opacity:0.9;
}
.rightLoad{
    position:fixed;
    padding-top:15%;
    display:block;
    height:90%;
    z-index:10;
    background-color:#fff;
    opacity:0.9;
}
.spinner-border{
    width: 5rem;
    height: 5rem;
}
.colorpicker{
    margin:0;
    padding:0;
    cursor:pointer;
    width:25px;
    height:25px;
}
.colorContainer{
    position:relative;
}
#searchRender{
    float:right;
    width:25%;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    padding-top:5px;
}
.bcsearch{
    background-color:#e9ecef;
}
.bcsearch nav{
    float:left;
    width:75%

}
.bcsearch nav{
    float:left;
    width:75%;
    margin-bottom:-1em;
}
.pathLink{
 word-wrap: break-word;
}
.species .dropdown-menu{
 height:500px;
}
#copy{
 cursor:pointer;
}
